{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dog Collector</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="mbody lime accent-4">
  <header class="navbar">
    <nav>
      <div class="nav-wrapper light-blue">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;DogCollector</a></li>
        </ul>
        <ul class="right">
          <!-- changes below -->
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'toys_create' %}">Add a Toy</a></li>
            <li><a href="{% url 'toys_index' %}">View All Toys</a></li>
            <li><a href="{% url 'dogs_create' %}">Add a Dog</a></li>
            <li><a href="{% url 'index' %}">View All My Dogs</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <!-- New link below -->
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
        </div>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="{% url 'toys_create' %}">Add a Toy</a></li>
        <li><a href="{% url 'toys_index' %}">View All Toys</a></li>
        <li><a href="{% url 'dogs_create' %}">Add a Dog</a></li>
        <li><a href="{% url 'index' %}">View All My Dogs</a></li>
       
    </ul>

  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer light-blue">
    <div class="right">All Rights Reserved, &copy; 2019 Dog Collector &nbsp;</div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
        $('.sidenav').sidenav();
    });
  </script>


</body>
</html>